# gitignore template for CSC-252 CSharp

# ignore file created by g++
#**/a.out

# Ignore folders that are created by dotnet
#**/obj/
#**/bin/

# ignore files created by emacs
[#]*[#]

# ignore mac files
.DS_Store

# ignore scala files
*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
